<app-card class="px-md-80 px-xxl-78 ml-xl-50 ml-xxl-80 ml-xxxl-145">
  <form class="w-100" [formGroup]="componentForm">
    <p
    class="display-none display-block-md roboto-—-s34-h41-bold-desktop text-align-center mb-52"
  >
    Let's Start
  </p>
  <app-input [config]="inputConfig('First Name')" formControlName="firstName"></app-input>
  <div class="mt-44 mt-md-89">
    <button class="btn primary-btn w-100">GET STARTED</button>
  </div>
  </form>
</app-card>



<ng-template #stepOne>
  <p
    class="display-none display-block-md roboto-—-s34-h41-bold-desktop text-align-center mb-52"
  >
    Let's Start
  </p>
  <p
    class="px-25 px-xl-64 roboto-—-s18-h26-mobile text-align-center app-color-008cc9-mobile mb-32 mb-md-85 app-color-000000-desktop roboto-—-s20-h24-desktop"
  >
    Fill out the form and we'll get in touch soon.
  </p>
  <p class="roboto-—-14pt-body-3 roboto-—-s18-h22-desktop">
    Do you want to make ads that convert?
  </p>
  <div class="display-flex">
    <span>
      <app-radio-input> Yes </app-radio-input>
    </span>
    <span class="ml-40 ml-xl-143">
      <app-radio-input> No </app-radio-input>
    </span>
  </div>
  <p class="mt-48 roboto-—-14pt-body-3 roboto-—-s18-h22-desktop">
    What's your monthly ad budget?
  </p>
  <div class="mt-13">
    <app-select></app-select>
  </div>
  <div class="mt-44 mt-md-89">
    <button class="btn primary-btn w-100">GET STARTED</button>
  </div>
</ng-template>
