<app-card class="px-md-80 px-xxl-78 ml-xl-50 ml-xxl-80 ml-xxxl-145">
  <form class="w-100" [formGroup]="componentForm" (ngSubmit)="submit()">
    <p
      class="display-none display-block-md roboto-—-s34-h41-bold-desktop text-align-center mb-52"
    >
      We’ll be in touch to get your trial set up.
    </p>
    <p
      class="px-25 px-xl-64 roboto-—-s18-h26-mobile text-align-center app-color-008cc9-mobile mb-16 mb-md-16 app-color-000000-desktop roboto-—-s20-h24-desktop"
    >
      Fill out details
    </p>
    <div class="grid-45-by-45 justify-content-between w-100 mb-18">
      <div>
        <app-input
          [config]="inputConfig('First Name *')"
          formControlName="firstName"
        ></app-input>
      </div>
      <div>
        <app-input
          [config]="inputConfig('Last Name *')"
          formControlName="lastName"
        ></app-input>
      </div>
    </div>
    <div class="w-100 mb-18">
      <app-input
        [config]="inputConfig('Company name *')"
        formControlName="companyName"
      ></app-input>
    </div>

    <div class="w-100 mb-18">
      <select class="select color-black" formControlName="monthlyAdvertisingBudget">
        <option value="">Monthly Advertising Budget *</option>
      </select>
    </div>

    <div class="w-100" *ngIf="countryDialCode">
      <div class="custom-tel-form">
        <select formControlName="dialCode">
          <option value="">Select Country</option>
          <option [value]="item.dial_code" *ngFor="let item of countryDialCode | async as list">{{item.name}} ({{item.dial_code}})</option>
        </select>
        <input type="tel" formControlName="tel" />
      </div>
    </div>

    <div class="mt-18 mt-md-18">
      <button class="btn primary-btn w-100" type="submit">
        GET FREE TRIAL
      </button>
    </div>
  </form>
</app-card>

<ng-template #stepOne>
  <p
    class="display-none display-block-md roboto-—-s34-h41-bold-desktop text-align-center mb-52"
  >
    Let's Start
  </p>
  <p
    class="px-25 px-xl-64 roboto-—-s18-h26-mobile text-align-center app-color-008cc9-mobile mb-32 mb-md-85 app-color-000000-desktop roboto-—-s20-h24-desktop"
  >
    Fill out the form and we'll get in touch soon.
  </p>
  <p class="roboto-—-14pt-body-3 roboto-—-s18-h22-desktop">
    Do you want to make ads that convert?
  </p>
  <div class="display-flex">
    <span>
      <app-radio-input> Yes </app-radio-input>
    </span>
    <span class="ml-40 ml-xl-143">
      <app-radio-input> No </app-radio-input>
    </span>
  </div>
  <p class="mt-48 roboto-—-14pt-body-3 roboto-—-s18-h22-desktop">
    What's your monthly ad budget?
  </p>
  <div class="mt-13">
    <select class="select">
      <option value="">Select</option>
    </select>
  </div>
  <div class="mt-44 mt-md-89">
    <button class="btn primary-btn w-100">GET STARTED</button>
  </div>
</ng-template>
