/** CSS Variables **/

:root {

  /* Colors: */
  --app-color-ff6e4e: #FF6E4E;
  --app-color-38ccf5: #38CCF5;
  --app-color-000000: #000000;
  --app-color-ffffff: #FFFFFF;
  --app-color-fbfbfb: #FBFBFB;
  --app-color-dedede: #DEDEDE;
  --app-color-707070: #707070;
  --app-color-008cc9: #008CC9;
  --app-color-38ccf51c: #38CCF5;
  --app-color-0052ef: #0052EF;
  --app-color-e4e4e4: #E4E4E4;
  --app-color-0037ff80: #0037FF;
  --app-color-00509d: #00509D;
  --app-color-006cc9: #006CC9;

  /* Font/text values */
  --app-font-family-roboto: Roboto;
  --app-font-style-normal: normal;
  --app-font-weight-normal: normal;
  --app-font-weight-bold: bold;
  --app-font-size-14: 14px;
  --app-font-size-16: 16px;
  --app-font-size-18: 18px;
  --app-font-size-25: 25px;
  --app-font-size-28: 28px;
  --app-font-size-34: 34px;
  --app-line-spacing-37: 37px;
  --app-font-size-45: 45px;
  --app-font-size-54: 54px;
  --app-character-spacing-0: 0px;
  --app-line-spacing-17: 17px;
  --app-line-spacing-19: 19px;
  --app-line-spacing-22: 22px;
  --app-line-spacing-30: 30px;
  --app-line-spacing-34: 34px;
  --app-line-spacing-41: 41px;
  --app-line-spacing-54: 54px;
  --app-line-spacing-65: 65px;
  --app-breakpoint-xs: 0;
  --app-breakpoint-sm: 576px;
  --app-breakpoint-md: 768px;
  --app-breakpoint-lg: 992px;
  --app-breakpoint-xl: 1200px;
}

// disabled
// Custom variables.
$baseFontSizePx: 16px;
$grid-breakpoints: ();
$grid-breakpoints: map-merge((xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
  ),
  $grid-breakpoints);
$spacers: ();
$spacers: map-merge((0: 0,
    1: 1px,
    2: 2px,
    3: 3px,
    4: 4px,
    5: 5px,
    6: 6px,
    8: 8px,
    11: 11px,
    10: 10px,
    12: 12px,
    13: 13px,
    14: 14px,
    15: 15px,
    16: 16px,
    17: 17px,
    18: 18px,
    19: 19px,
    20: 20px,
    21: 21px,
    22: 22px,
    23: 23px,
    24: 24px,
    25: 25px,
    26: 26px,
    27: 27px,
    28: 28px,
    30: 30px,
    32: 32px,
    33: 33px,
    35: 35px,
    36: 36px,
    37: 37px,
    38: 38px,
    40: 40px,
    42: 42px,
    44: 44px,
    46: 46px,
    48: 48px,
    52: 52px,
    56: 56px,
    60: 60px,
    62: 62px,
    64: 64px,
    70: 70px,
    72: 72px,
    73: 73px,
    78: 78px,
    80: 80px,
    85: 85px,
    90: 90px,
    93: 93px,
    96: 96px,
    102: 102px,
    144: 144px,
    149: 149px,
    128: 128px,
    130: 130px,
    143: 143px,
    175: 175px,
    178: 178px,
    212: 212px,
  ),
  $spacers);

//Colors
$white: #ffffff;
$blue: #0087ea;

//Primary
$green: #008641;
$red: #d9471f;
$black: #191a1a;
$blue: #0087ea;
$sidebar: #6a7098;
//Secondary
$grey: #636463;
$grey-4: #4c4f51;
$medium-grey: #a7aaac;
$medium-grey-2: #d1d4d2;
$medium-grey-3: #d1d4d2;
$light-grey: #d1d3d4;
$light-grey-2: #f7f8f7;
$ultra-light-grey: #f2f9f5;
$ultra-light-grey-2: #f2f2f3;
$dark-grey: #454545;

//Tertiary
$dark-green: #006330;
$medium-green: #bfe2ce;
$medium-green-2: #a7aca9;
$medium-green-3: #bfe2d0;
$light-green: #e5f2ec;
$light-green-3: #2d7d43;
$ultra-light-green: #f2f9f5;
$ultra-light-red: #fbece8;

// Other colors
$light-yellow: #fbf1cd;
$light-red: #c32328;
$light-orange: #f3ca51;
$dark-yellow: #e3ba41;
$light-pink: #f6ddde;
$light-blue: #daebf8;
$grey2: #343439;
$dark-green-2: #00501a;
$grey3: #cbcccb;
$grey4: #8b8b8b;
$light-grey-2: #f3f6f9;
$text-grey-1: #323140;
$text-grey-1d: #f5f5f5;

// Defaults
$baseFontSizePx: 16;
$font-size-base: 1rem;
$font-family-sans-serif: "Roboto",
"Helvetica Neue",
Arial,
sans-serif;
$font-family-base: $font-family-sans-serif;
$border-radius: 0.125rem;
$enable-shadows: true;

// Typography
$base-text-color: $black;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1.125;
$h5-font-size: $font-size-base * 0.875;
$h6-font-size: $font-size-base * 0.8125;

$headings-color: $grey2;


// Buttons
$btn-font-weight: 500;
$btn-padding-y: rem(12);
$btn-padding-x: rem(16);
$btn-padding-sm-x: 57px;
$btn-font-size: rem(12);
$btn-line-height: rem(16);
$btn-border-radius: rem(3);

/** breakpoint **/
$md-breakpoint: 768px;

@media only screen and (min-width: $md-breakpoint) {
  $btn-font-size: rem(20);
}