@import "../variables";
@import "../mixins";

$btn-font-family: $font-family-base;
$btn-primary-color: $white;
$def-box-shadow: rgba(0, 0, 0, 0.15);
$btn-padding-y-zero: 0;
$btn-padding-x-zero: 0;

@mixin button-style($background,
  $border,
  $color,
  $active-background,
  $active-border,
  $active-color,
  $hover-bg,
  $hover-border,
  $hover-color,
  $hover-shadow,
  $disabled-bg,
  $disabled-border,
  $disabled-color) {
  color: $color;
  background: $background;
  border: $border;
  box-shadow: none !important;
  font-weight: bold;

  &:focus,
  &.focus {
    outline: 0 !important;
    box-shadow: 0 rem(2) rem(8) 0 $hover-shadow;
    background: $hover-bg !important;
    border: $hover-border !important;
    color: $hover-color;
  }

  &:hover,
  &.hover {
    background: $hover-bg !important;
    border: $hover-border !important;
    color: $hover-color;
    box-shadow: 0 rem(2) rem(8) 0 $hover-shadow;

    @if $background=='none'and $border=='none' {
      text-decoration: underline;
    }
  }

  &:disabled,
  &.disabled {
    background: $disabled-bg !important;
    border: $disabled-border !important;
    color: $disabled-color !important;
    opacity: 1;
    text-decoration: none;
    pointer-events: none;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show>&.dropdown-toggle {
    color: $active-color;
    background: $active-background;
    border: $active-border;
  }
}

@mixin button-size($padding-y,
  $padding-x,
  $font-size,
  $line-height,
  $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

.btn {
  font-family: "Roboto";
  font-weight: normal;
  min-width: 12px;
  @include button-size($btn-padding-y,
    $btn-padding-x,
    $btn-font-size,
    $btn-line-height,
    $btn-border-radius);
  cursor: pointer;
}

// @mixin button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%)) {
.primary-btn {
  @include button-style(var(--app-color-ff6e4e), 1px solid var(--app-color-ff6e4e),
    $white,
    var(--app-color-ff6e4e),
    1px solid var(--app-color-ff6e4e),
    $white,
    $light-grey-2,
    1px solid $light-grey-2,
    $white,
    none,
    $grey2,
    1px solid $grey,
    $white);
}