@import "../variables";
@import "../mixins";

.card {
    background: var(--app-color-fbfbfb) 0% 0% no-repeat padding-box;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 20px #00000029;
    border-radius: 12px;
    opacity: 1;
    padding: 40px 20px;
    width: 100%;
}

@media only screen and (min-width: $md-breakpoint) {
    .card {
        max-width: 650px;
        padding: 109px 0 50px 0;
    }
}