@import "../mixins";

.display-grid {
    @include display-grid;
}

.custom-grid-size-30-by-70 {
    width: 100%;
    @include display-grid;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    place-self: center !important;
}