@import "../variables";
@import "../mixins";

.display-grid {
    @include display-grid;
}

.custom-grid {
    width: 100%;
    @include display-grid;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    place-items: center !important;
}

.custom-grid-b {
    width: 100%;
    @include display-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(341px, 1fr));
    grid-template-rows: auto;
    gap: rem(80);
    justify-content: space-between;
}

@media only screen and (min-width: $md-breakpoint) {
    .grid-50-by-50-md {
        width: 100%;
        @include display-grid;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: auto;
        place-items: center !important;
    }

    .justify-items-start-md {
        justify-items: start;
    }
}

@media only screen and (min-width: $xl-breakpoint) {
    .custom-grid {
        width: 100%;
        @include display-grid;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: auto;
        place-self: center !important;
    }

    /* .custom-grid-b {
        grid-template-columns: repeat(auto-fit, minmax(341px, 1fr));
        justify-content: space-between;
    } */
}