@import "../mixins";

.icon-w20-h14 {
    width: rem(20);
    height: rem(14);
}

.icon-w56-h40 {
    width: rem(56);
    height: rem(40);
}

.img-w80-h80 {
    width: rem(80);
    height: rem(80);
    object-fit: cover;
}

.img-w158-h54 {
    width: rem(158);
    height: rem(54);
    object-fit: cover;
}

.img-w728-h440 {
    width: rem(728);
    height: rem(440);
    object-fit: cover;
}

.custom-bg-b {
    background-image: url("~src/assets/images/group-391.svg");
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover;
}

@media only screen and (min-width: $md-breakpoint) {
    .icon-w36-h26-md {
        width: rem(36);
        height: rem(26);
    }

    .custom-bg-b {
        background: url("~src/assets/images/group-392.svg");
    }
}

@media only screen and (min-width: $xl-breakpoint) {
    .img-w728-h440-xl {
        width: rem(728);
        height: rem(440);
        object-fit: cover;
    }

}