@import "../mixins";

.icon-w20-h14 {
    width: rem(20);
    height: rem(14);
}

.icon-w56-h40 {
    width: rem(56);
    height: rem(40);
}

.img-w80-h80 {
    width: rem(80);
    height: rem(80);
    object-fit: cover;
}