@import "../mixins";
@import "../variables";

.form-input {
    @include flexbox;
    width: 100%;
    @include justify-content(center);
    @include align-items(center);
    position: relative;

    input {
        font: var(--app-font-style-normal) normal var(--app-font-weight-normal) var(--app-font-size-14)/var(--app-line-spacing-17) var(--app-font-family-roboto);
        letter-spacing: var(--app-character-spacing-0);
        color: $black;
        font-size: rem(14) !important;
        line-height: rem(17) !important;
        padding: rem(12) rem(20);
        border-radius: rem(5);
        width: 100%;
        border: none;
        background: var(--app-color-fbfbfb) 0% 0% no-repeat padding-box;
        border: 1px solid var(--app-color-dedede);
        display: block;
        transition: all .1s ease-in-out .3s;

        &.input-error,
        &:invalid {
            border: 1px solid $red;
        }

        &:hover {
            border: 1px solid var(--app-color-008cc9);
        }

        &:focus {
            color: $black !important;
            border: 1px solid var(--app-color-008cc9);

            &+label {
                top: -8px;
                left: 15px;
                color: var(--app-color-707070);
                background: var(--app-color-fbfbfb) 0% 0% no-repeat padding-box;
                display: inline-block;
                padding: 0px 5px;
            }
        }

    }

    label {
        position: absolute;
        top: 15px;
        left: 20px;
        z-index: 100;
        opacity: 1;
        pointer-events: none;
        transition: .5s;
        color: black;
        font: var(--app-font-style-normal) normal var(--app-font-weight-normal) var(--app-font-size-14)/var(--app-line-spacing-17) var(--app-font-family-roboto);
        letter-spacing: var(--app-character-spacing-0);
    }

}