@import "../variables";

.select {
    background: var(--app-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--app-color-dedede);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    opacity: 1;
    font: var(--app-font-style-normal) normal var(--app-font-weight-normal) var(--app-font-size-14)/var(--app-line-spacing-17) var(--app-font-family-roboto);
    letter-spacing: var(--app-character-spacing-0);
    color: var(--app-color-707070);
    text-align: center;
    letter-spacing: 0px;
    padding: 10px 20px;
    width: 100%;
    /* remove the default arrow */
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;

    /*  */
    &::-ms-expand {
        display: none;
        /* Remove default arrow in Internet Explorer 10 and 11 */
    }

    /* add custom chevron */
    background: transparent url("~src/assets/images/chevron.svg") no-repeat right rem(20) center/rem(14) rem(10);
}

@media only screen and (min-width: $md-breakpoint) {

    .select {
        color: var(--app-color-000000);
        font-size: rem(16);
        line-height: rem(19);
    }
}