<div class="grid-wrapper">
  <div class="px-26 mt-20">
    <p class="roboto-—-30pt-mobile text-align-center">
      Book a demo today and get two weeks for <span>free.</span> Why?
    </p>
    <p class="roboto-—-s20-h26-mobile text-align-center mt-10 mb-30">
      Because Our AI-Powered Software Will Exceed Your Marketing Goals.
    </p>
  </div>
  <div class="px-26">
    <app-card>
      <div>
        <p class="px-25 roboto-—-s18-h26-mobile text-align-center">
          Fill out the form and we'll get in touch soon.
        </p>
      </div>
      <app-radio-input>
       male
      </app-radio-input>
    </app-card>
  </div>
</div>
